body {
  text-align: center;
  font-family: Helvetica;
  background: linear-gradient(to top, rgb(50, 204, 30), blue);
  min-height: 100vh;
}

#core {
  border: 2px solid rgb(14, 13, 13);
  background-color: rgb(240, 239, 239);

  height:100vh;
  justify-content: center;
  left: 10vw;
  right: 10vw;
  top: 5vh;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: Helvetica;
}