body {
  text-align: center;
  background-color: blue;
  color: white;
} 

#core {
  border: 2px solid rgb(14, 13, 13);
  background-color: rgb(240, 239, 239);
  width: 90%;
  justify-content: center;
  left: 5%;
  top: 5%;
}
