#picture{
    position:relative;
    transform: rotateX(20deg) rotateY(30deg);
    transform-style: preserve-3d;
}

.ear{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(240, 154, 24);
    position: absolute;
    transform: translate-3d(-50%, 0px, 50px);
}

#left-ear{
    left: 50px;
    transform: rotateZ(-30deg);
}

#right-ear{
    left: 220px;
    transform: rotateZ(30deg);
}

#head{
    width: 230px;
    height:230px;
    background-color: rgb(211, 135, 21);
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: 55px;
    transform: translate-3d(-50%, 0px, 50px);
}

.eye {
    width: 20px;
    height: 40px;
    background:rgb(9, 10, 2);
    border-radius: 50%;
    position:absolute;
    top:120px;
    animation: blink 6s infinite;
    transform: translate-3d(-50%, 0px, 50px);
}

#left-eye{
    left: 140px;
}

#right-eye{
    left: 210px;
}

#nose {
    width: 30px;
    height: 20px;
    background:rgb(238, 161, 130);
    border-radius: 50%;
    position:absolute;
    top:170px;
    left: 175px;
    transform: translate-3d(-50%, 0px, 50px);
}

#line {
    width: 4px;
    height: 20px;
    background:rgb(9, 10, 2);
    position:absolute;
    left:187px;
    top:190px;
    transform: translate-3d(-50%, 0px, 50px);
}

.mouth-curve {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position:absolute;
    top: 180px;
    transform: translate-3d(-50%, 0px, 50px);
}

#curve-left {
    left:145px;
    border-left: 3px solid rgb(9, 10, 2);
    border-right: 3px solid transparent;
    border-bottom: 3px solid rgb(9, 10, 2);
    border-top: 3px solid transparent;
    transform: translate-3d(-50%, 0px, 50px) rotateZ(-45deg);
}

#curve-right {
    left:187px;
    border-left: 3px solid transparent;
    border-right: 3px solid rgb(9, 10, 2);
    border-bottom: 3px solid rgb(9, 10, 2);
    border-top: 3px solid transparent;
    transform: translate-3d(-50%, 0px, 50px) rotateZ(45deg);
}

@keyframes blink { 
    0%, 45% { /* Standard eye */
        height: 40px;
        top: 120px;
    }

    48% {
        height: 3px;
        top: 157px;
    }

    50%, 100% { /* Standard eye */
        height: 40px;
        top: 120px;
    }
}

/*
@keyframes name {
    Percent of animation duration {
        CSS properties to animate
}

Note: 
- Make sure that the css property was defined in the base element before modifying it via keyframes
- Best to both start and end the animation with the same css property that the base element has if you want consistency
- Not ending with the base is fine if you want something to travel across the screen (such as movement or sliding)
*/