#picture{
    position:relative;
}

.ear{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(240, 154, 24);
    position: absolute;
}

#left-ear{
    left: 50px;
    transform: rotate(-30deg);
}

#right-ear{
    left: 220px;
    transform: rotate(30deg);
}

#head{
    width: 230px;
    height:230px;
    background-color: rgb(240, 154, 24);
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: 55px;
}