#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    background-color: gainsboro;
}

footer{
    border: 1px solid black;
    position: absolute;
    bottom: 0px;
    background-color: #1e90ff;
    height: 2.5rem;
    width: 100%;
}

.imageRotate{
    width:200px;
    height:200px;
    transform:rotate(35deg);
}

.navcustom {
    transform: skew(25deg) translate(-50px);
    border: 1px solid black;
}
.textnav {
    transform: skew(-25deg) translate(50px);
    color: black;
    border-right: 1px solid black;
}

body{
    background-color: gray;
}

.LBbar{
    background-color: rgb(83, 190, 226);
    transform: skew(-25deg) translate(-46px);
    border: 1px solid black;
    width: 100%;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}