#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    background-color: gainsboro;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

footer{
    border: 1px solid black;
    position: absolute;
    bottom: 0px;
    background-color: #1e90ff;
    height: 2.5rem;
    width: 100%;
}
.footer a{
    background-color: #1e90ff;
}

.imageRotate{
    width:200px;
    height:200px;
    transform:rotate(35deg);
}

.navcustom {
    transform: skew(25deg) translate(-50px);
    border: 1px solid black;
}
.textnav {
    transform: skew(-25deg) translate(50px);
    color: black;
    border-right: 1px solid black;
}

body{
    background-color: gray;
}

.LBbar{
    background-color: rgb(83, 190, 226);
    transform: skew(-25deg) translate(-46px);
    border: 1px solid black;
    width: 100%;
}
.LBbar info{
    transform: translate(46px);
}

img{
    border: 10px ;
}