.aidans-section{
    background-color: #ffb900;
    border-radius: 15px;
    font-family: customFont1;

} 
@font-face {
    font-family: customFont1;
    src: url(custom-fonts/Komika/KOMTXKBI.ttf)
}

